@page{
    size: a4 landscape;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/certificado.jpg) !important; 
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}

.print{
    width: 29.7cm;
    height: 21cm;
    display: block;
    font-size: 1.2em;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.print p{
    padding-left: 300px;
    padding-right: 100px;
    text-align: justify;
}

.no-print{
    display: none;
    background: transparent;
    color: #000;
    text-shadow: none; 
    filter: none;
    -ms-filter: none;
}