/*
    Projeto: V Amostra Científica
    Autor: Matheus André Bezerra Mota
    Contato: matheus.mat96@hotmail.com
    Data: 19/06/2023
    Versão: 1.0.0
*/

/* Definições Gerais */
    *{
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    }

    body{
        margin: 0;
        padding: 0;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

        @media (max-width: 769px){
            main{
                justify-content: start;
                margin-top: 100px;
            }
        }

    input{
        color: gray;
        font-size: 0.9em;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 97%;
        outline: none;
        text-align: center;
    }

        input:focus{
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.750);
        }

/* Definições da Página */

    section#bg{
        width: 100%;
        height: 100%;
        overflow: hidden;  
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.55);
    }

    section#bg-video{
        width: 100vw;
        height: 100vh;
        overflow: hidden;    
        position: absolute;
        z-index: -2;
    }

    section#bg-video video {
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    section#banner{    
        width: 100vw;
    }

    section div#logo{
        background: url(../img/logo_mono.png) no-repeat;
        background-position: center;
        background-size: contain;
        height: 250px;
    }

        @media (max-width: 769px) {
            section div#logo{
                height: 200px;
            }   
        }

    section nav#navegacao{    
        margin-top: 75px;
        margin-bottom: 75px;
    }

    section nav#navegacao ul{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-left: -40px;
    }

        @media (max-width: 769px) {
            section nav#navegacao ul{
                flex-direction: column;
                gap: 50px;
            }
        }

    #apoio{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        max-width: 80vw;    
        padding: 40px;
        margin-bottom: 50px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 10px;
    }

        @media (max-width: 769px) {
            #apoio{
                flex-direction: column;
            }
        }

    #apoio div{
        width: 150px;
        height: 40px;
        padding: 30px;
    }

    #apoio div#asces{
        background: url(../img/asces.png) no-repeat;
        background-size: contain;
        background-position: center;
    }

    #apoio div#ufpe{
        background: url(../img/ufpe.png) no-repeat;
        background-size: contain;
        background-position: center;
    }

    #apoio div#unifavip{
        background: url(../img/unifavip.png) no-repeat;
        background-size: contain;
        background-position: center;
    }

    #apoio div#uninassau{
        background: url(../img/uninassau.png) no-repeat;
        background-size: contain;
        background-position: center;
    }

    section#form{   
        width: 25vw;
        margin: 30px 0;
    }

        @media (max-width: 768px) {
            section#form{   
                width: 80vw;
            }   
        }

    section form#form-cert{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    section#info-cert{
        width: 90vw;
    }

/* Classes */

    /* Classes Links*/
        .link{
            font-size: 0.9em;
            font-weight: 500;
            color: white;
            text-decoration: none;
            border: 1px solid white;
            border-radius: 5px;
            padding: 10px 50px;
        }
        
            .link:hover{
                color: black;
                background-color: white;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.750);
                transition: 600ms;
            }
        
        .link-off, .link-off:hover{
            color: rgba(255, 255, 255, 0.5);
            background-color: rgba(128, 128, 128, 0.5);
            border: 1px solid rgb(128, 128, 128);            
            box-shadow: none;
        }

    /* Classes Links*/
        .btn-link{
            font-size: 0.9em;
            font-weight: 500;
            color: white;
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid white;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
        }
        
            .btn-link:hover{
                color: black;
                background-color: white;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.750);
                transition: 600ms;
            }

    /* Classes Fontes*/

        /*Classes de Cores*/
            .text-white{
                color: white;
            }

        /* Alinhamento */
            .text-center{
                text-align: center;
            }
    
.print{
    display: none;
}